<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadContent</key>
	<array>
		<dict>
			<key>AutoJoin</key>
			<false/>
			<key>CaptiveBypass</key>
			<false/>
			<key>EAPClientConfiguration</key>
			<dict>
				<key>AcceptEAPTypes</key>
				<array>
					<integer>21</integer>
				</array>
				<key>OneTimeUserPassword</key>
				<false/>
				<key>PayloadCertificateAnchorUUID</key>
				<array>
					<string>3A5C0FDA-0FED-406A-95B2-26070066B4F2</string>
				</array>
				<key>TLSMaximumVersion</key>
				<string>1.2</string>
				<key>TLSMinimumVersion</key>
				<string>1.0</string>
				<key>TLSTrustedServerNames</key>
				<array/>
				<key>TTLSInnerAuthentication</key>
				<string>PAP</string>
				<key>UserName</key>
				<string>{{ address }}</string>
				<key>UserPassword</key>
				<string>{{ timestamp }}-{{ signature }}</string>
			</dict>
			<key>EncryptionType</key>
			<string>WPA</string>
			<key>HIDDEN_NETWORK</key>
			<false/>
			<key>IsHotspot</key>
			<false/>
			<key>PayloadDescription</key>
			<string>Configures Wi-Fi settings</string>
			<key>PayloadDisplayName</key>
			<string>Wi-Fi</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.wifi.managed.44ECEA45-9C54-4423-BA02-04558442F514</string>
			<key>PayloadType</key>
			<string>com.apple.wifi.managed</string>
			<key>PayloadUUID</key>
			<string>44ECEA45-9C54-4423-BA02-04558442F514</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>ProxyType</key>
			<string>None</string>
			<key>SSID_STR</key>
			<string>{{ ssid }}</string>
		</dict>
		<dict>
			<key>PayloadCertificateFileName</key>
			<string>something.cer</string>
			<key>PayloadContent</key>
			<data>
			MIIDwTCCAqmgAwIBAgIBATANBgkqhkiG9w0BAQsFADCBjzELMAkGA1UEBhMCVVMx
            CzAJBgNVBAgMAklMMRAwDgYDVQQHDAdDaGljYWdvMREwDwYDVQQKDAhIb2xvZ3Jh
            bTEgMB4GCSqGSIb3DQEJARYRYWRtaW5AZXhhbXBsZS5vcmcxLDAqBgNVBAMMI0V4
            YW1wbGUgTWFnaWMgQ2VydGlmaWNhdGUgQXV0aG9yaXR5MB4XDTE4MTEwMTE5MDUw
            OFoXDTE4MTIzMTE5MDUwOFowZzELMAkGA1UEBhMCVVMxCzAJBgNVBAgMAklMMREw
            DwYDVQQKDAhIb2xvZ3JhbTESMBAGA1UEAwwJc29tZXRoaW5nMSQwIgYJKoZIhvcN
            AQkBFhV3ZWJtYXN0ZXJAaG9sb2dyYW0uaW8wggEiMA0GCSqGSIb3DQEBAQUAA4IB
            DwAwggEKAoIBAQC7UsOVOrMRNl5IXCDd9ceLd+1/BRuOPQtVgdrBV/AlJUZb9VUC
            YAF57o/nykuFdO3j63TL27Paa5HUpS7vsUhwqruLNDFYNZJLT1hykzLKTn2ulHLc
            Y9ap5EsOq9MQIuk9vlnrQsE+oBSOPO9jQOGgeugYEOtK01HcAh7OGXbzNIL5htWz
            YTqGmoRahO9lNHL7r43xLB3u8PSlYA4BZmOsKAKly4LsUWXimBB4AoEQsL50WJxd
            HMsy5MukpU22qGIyMc8ET7eAdZBW+UPZb3GTEsgaOVCuTOCvtxXXaG4EC49YiNCo
            hnrUY5+TcL65DhEHjA/P8E5ClphhiIb60XHNAgMBAAGjTzBNMBMGA1UdJQQMMAoG
            CCsGAQUFBwMBMDYGA1UdHwQvMC0wK6ApoCeGJWh0dHA6Ly93d3cuZXhhbXBsZS5j
            b20vZXhhbXBsZV9jYS5jcmwwDQYJKoZIhvcNAQELBQADggEBACPaL7u1hlBkaoVm
            apUwWrratIyxaVY1tTh9amggOV68esIdbkPf9eCYoiQZprMtPhSmmxmBMmyLZcct
            eYi54bSxROMYL1LCz0DqrgVg3cF404EbSs6SwI0Bs1ab1HbryXMdO8Kx2cGEmkB1
            qn4NpyjCuCtdV7/FUW9EEps6G2t88u+QnkvmrGwLay+MiNJPoFDxagr9v3yW+wEw
            93JZu+cpCWCC/SpHOUZMmtncsApgANjaCL2aE2CIVx8xtm5+x7NWELqbE35Y9YhW
            fnT+p5gJKhe7bGHd8LFS/RWpC1Xdvmhe1qlfVPmzYS8gD4GUH4puON35XjuR9RWJ
            ab7gjEc=
			</data>
			<key>PayloadDescription</key>
			<string>Adds a PKCS#1-formatted certificate</string>
			<key>PayloadDisplayName</key>
			<string>Example Server Certificate</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.security.pkcs1.3A5C0FDA-0FED-406A-95B2-26070066B4F2</string>
			<key>PayloadType</key>
			<string>com.apple.security.pkcs1</string>
			<key>PayloadUUID</key>
			<string>3A5C0FDA-0FED-406A-95B2-26070066B4F2</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>PayloadDisplayName</key>
	<string>{{name}}</string>
	<key>PayloadIdentifier</key>
	<string>{{name}}.DA9E1F7D-38D0-430B-8D25-041C4D02D0C8</string>
	<key>PayloadRemovalDisallowed</key>
	<false/>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadUUID</key>
	<string>A37AFF29-8964-49ED-A9F0-12D67ABF4FE6</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
</dict>
</plist>
